.table-container {
  font-family: 'Noto Sans KR', sans-serif; /* Use a Korean font that handles spacing well */
  width: 100%; /* Adjust the width as needed */
  max-height: 500px; /* Set a maximum height */
  overflow: auto; /* This will add scrollbars if the content overflows */
  margin: auto;
  border: 1px solid #ddd;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Add fixed table layout */
}

th,
td {
  min-width: 80px; /* Set a minimum width for each cell */
  text-align: left;
  padding: 8px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid #ddd;
}

.header {
  background-color: #f3f3f3;
  color: black;
  font-weight: bold;
}

.cell {
  font-family: 'Courier New', Courier, monospace; /* Optional: Use monospaced font for cells */
}
