.chat {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  top: 70px;
  right: 0;
  transition: width 0.5s ease-in-out;

  position: absolute;
  min-height: 100vh;
  background-color: #ccc;
  overflow-y: auto;
}

.chat_full {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  top: 70px;
  right: 0;
  transition: width 0.5s ease-in-out;

  position: absolute;
  min-height: 100vh;
  background-color: #ccc;
  overflow-y: auto;
}

.chat_log {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.chat_message {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}
.user {
  background-color: lightblue;
  text-align: right;
}
.ai {
  background-color: lightgray;
  text-align: left;
}

.user_input_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;

  bottom: 30px;
  width: 500px;
}

.user_input {
  flex: 1;
  width: 100%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.user_input_container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.user_input_container button:hover {
  background-color: #0056b3;
}
