.side_bar {
  position: fixed;
  background-color: black;
  width: 20%;
  height: 100%;
  color: white;
  transition: width 0.5s ease-in-out;
  margin-top: 0;
}

.side_bar_expanded {
  position: fixed;
  background-color: black;
  width: 40%;
  height: 100%;
  color: white;
  transition: width 0.5s ease-in-out;
  margin-top: 0;
}

.expand_button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
}
