.header {
  width: 80%;
  height: 10%;
  display: block;
  z-index: 6;
  background-color: white;
  position: fixed;
  right: 0;
  transition: width 0.5s ease-in-out;
}

.header_full {
  width: 100%;
  height: 10%;
  display: block;
  z-index: 6;
  background-color: white;
  position: fixed;
  right: 0;

  transition: width 0.5s ease-in-out;
}

.tmp {
  text-align: center;
}
.expand_button2 {
  position: fixed;
  display: inline-block;
  z-index: 5;
}

.expand_button2_hide {
  display: none;
}
